<main>
    <section id="section-login">
            <h2>Login</h2>
            <label for="staticUsuario" class="col-sm-2 col-form-label">Usuário</label>
            <div class="col-sm-10">
                <input type="text" name="usuario" [(ngModel)]="usuario" class="form-control" id="staticUsuario" placeholder="email@example.com">
            </div>


            <label for="inputPassword" class="col-sm-2 col-form-label">senha</label>
            <div class="col-sm-10">
                <input type="password"  name="senha"  [(ngModel)]="senha" class="form-control" id="inputPassword" placeholder="senha">
            </div>
            <button type="submit" class="btn btn-primary mb-3" (click)="fazerLogin()">Login</button>
    </section>
</main>