

#section-banner {
    min-height: 400px;

    & img {
        height: 300px;
    }
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: auto;
  }

mat-grid-list {
    margin: 10px 0px;
}

mat-grid-tile {
    padding: 2px;
    border-radius: 30px;
    height: fit-content;
    max-width: 33%;
    width: 33%;
}

.mat-grid-tile-content {
    height: 500px;
    max-width: 100px;
    width: 100px;
}
mat-card {
    width: 200px;
    height: 300px;
}
mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card-actions {
    display: flex;
    justify-content: space-around;
}

mat-card-actions p {
    color: red;
    font-size: 1em;
}
mat-card-title {
    word-wrap: break-word;
}

mat-card img {
    height: 100px;
}

mat-card-content {
    overflow-y: scroll;
    text-align: center;
}

h2 {
    margin-top: 5px;
    text-align: center;
    font-size: 30px;
}